In [37]:
# importing required libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [38]:
# loading datasets

train = pd.read_csv(r'C:\Users\Smriti Priya\Downloads\Train_aBjfeNk.csv')
test = pd.read_csv(r'C:\Users\Smriti Priya\Downloads\Test_LqhgPWU.csv')

In [39]:
train.shape

(8068, 11)

In [40]:
test.shape

(2627, 10)

In [41]:
train.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [42]:
train.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [43]:
# filling missing values on training data

train['Ever_Married']=train['Ever_Married'].fillna(train['Ever_Married'].mode()[0])
train['Graduated']=train['Graduated'].fillna(train['Graduated'].mode()[0])
train['Profession']=train['Profession'].fillna(train['Profession'].mode()[0])
train['Work_Experience']=train['Work_Experience'].fillna(train['Work_Experience'].mean())
train['Family_Size']=train['Family_Size'].fillna(train['Family_Size'].mean())
train['Var_1']=train['Var_1'].fillna(train['Var_1'].mode()[0])

In [44]:
train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [45]:
# filling missing values on testing data

test['Ever_Married']=test['Ever_Married'].fillna(test['Ever_Married'].mode()[0])
test['Graduated']=test['Graduated'].fillna(test['Graduated'].mode()[0])
test['Profession']=test['Profession'].fillna(test['Profession'].mode()[0])
test['Work_Experience']=test['Work_Experience'].fillna(test['Work_Experience'].mean())
test['Family_Size']=test['Family_Size'].fillna(test['Family_Size'].mean())
test['Var_1']=test['Var_1'].fillna(test['Var_1'].mode()[0])

In [46]:
test.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [47]:
# Encoding catagorical values in training data

from sklearn.preprocessing import LabelEncoder

train_gender = LabelEncoder()
train_married = LabelEncoder()
train_graduate = LabelEncoder()
train_profession = LabelEncoder()
train_spending = LabelEncoder()
train_var = LabelEncoder()

train['gender_n'] = train_gender.fit_transform(train['Gender'])
train['married_n'] = train_gender.fit_transform(train['Ever_Married'])
train['graduate'] = train_gender.fit_transform(train['Graduated'])
train['profession'] = train_gender.fit_transform(train['Profession'])
train['spending'] = train_gender.fit_transform(train['Spending_Score'])
train['var'] = train_gender.fit_transform(train['Var_1'])

train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,gender_n,married_n,graduate,profession,spending,var
0,462809,Male,No,22,No,Healthcare,1.000000,Low,4.0,Cat_4,D,1,0,0,5,2,3
1,462643,Female,Yes,38,Yes,Engineer,2.641663,Average,3.0,Cat_4,A,0,1,1,2,0,3
2,466315,Female,Yes,67,Yes,Engineer,1.000000,Low,1.0,Cat_6,B,0,1,1,2,2,5
3,461735,Male,Yes,67,Yes,Lawyer,0.000000,High,2.0,Cat_6,B,1,1,1,7,1,5
4,462669,Female,Yes,40,Yes,Entertainment,2.641663,High,6.0,Cat_6,A,0,1,1,3,1,5

In [48]:
# creating final training data

X_train = train.drop(['ID','Gender','Ever_Married','Graduated','Profession','Spending_Score','Var_1','Segmentation'], axis=1)
y_train = train['Segmentation']
X_train.shape

(8068, 9)

In [49]:
# Encoding catagorical values in testing data

test_gender = LabelEncoder()
test_married = LabelEncoder()
test_graduate = LabelEncoder()
test_profession = LabelEncoder()
test_spending = LabelEncoder()
test_var = LabelEncoder()
test_segment = LabelEncoder()

test['gender_n'] = test_gender.fit_transform(test['Gender'])
test['married_n'] = test_gender.fit_transform(test['Ever_Married'])
test['graduate'] = test_gender.fit_transform(test['Graduated'])
test['profession'] = test_gender.fit_transform(test['Profession'])
test['spending'] = test_gender.fit_transform(test['Spending_Score'])
test['var'] = test_gender.fit_transform(test['Var_1'])

test.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,gender_n,married_n,graduate,profession,spending,var
0,458989,Female,Yes,36,Yes,Engineer,0.000000,Low,1.0,Cat_6,0,1,1,2,2,5
1,458994,Male,Yes,37,Yes,Healthcare,8.000000,Average,4.0,Cat_6,1,1,1,5,0,5
2,458996,Female,Yes,69,No,Artist,0.000000,Low,1.0,Cat_6,0,1,0,0,2,5
3,459000,Male,Yes,59,No,Executive,11.000000,High,2.0,Cat_6,1,1,0,4,1,5
4,459001,Female,No,19,No,Marketing,2.552587,Low,4.0,Cat_6,0,0,0,8,2,5

In [50]:
# creating final testing data

X_test = test.drop(['ID','Gender','Ever_Married','Graduated','Profession','Spending_Score','Var_1'], axis=1)
X_test.shape

(2627, 9)

In [51]:
# creating Random Forest Classifier model

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

C:\Users\Smriti Priya\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [52]:
# Predicting customer segmentation

y_pred = model.predict(X_test)
prediction = pd.DataFrame(y_pred, columns=['Segmentation'])
prediction

     Segmentation
0               B
1               C
2               A
3               C
4               C
...           ...
2622            D
2623            B
2624            A
2625            C
2626            D

[2627 rows x 1 columns]

In [53]:
# creating output(prediction) dataframe

df = pd.concat([test['ID'],prediction], axis=1)
df

          ID Segmentation
0     458989            B
1     458994            C
2     458996            A
3     459000            C
4     459001            C
...      ...          ...
2622  467954            D
2623  467958            B
2624  467960            A
2625  467961            C
2626  467968            D

[2627 rows x 2 columns]

In [54]:
# Exporting to CSV file

df.to_csv(r'C:\Users\Smriti Priya\Downloads\submission.csv', index=False)